.header {

display: flex;
justify-content: space-evenly;
border-bottom: 0.1px solid lightgrey;
padding-top: 10px;
padding-bottom: 10px;
position: sticky;
z-index: 999;


}

.header_left {

  display: flex;
}

.header_search {

  display: flex;
  align-items: center;
}

.header_left img {


}


.header_right {

  display: flex;
}